-e .
pandas
xarray
rioxarray
numpy
dask
distributed
neuralprocesses>=0.2.2
tensorflow
tensorflow_probability
torch>=2
backends-matrix
backends
matplotlib
shapely
pyshp
seaborn
tqdm
jupyter
pooch
gcsfs
zarr
git+https://github.com/scott-hosking/get-station-data.git
