-e .
pandas
xarray
rioxarray
numpy
dask
distributed
neuralprocesses>=0.2.6
tensorflow
tensorflow_probability[tf]
torch>=2
backends-matrix
backends
matplotlib
shapely
pyshp
seaborn
tqdm
jupyter
pooch
gcsfs
zarr
