name: Tests

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ['3.8', '3.11']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Delete huge unnecessary folders
      run: |
        rm -rf /usr//local/lib/android/
        rm -rf /usr/share/dotnet/
        rm -rf /opt/ghc/
        rm -rf /usr/local/share/boost/
      shell: bash
    - name: Print space
      run: df -h
    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements.dev.txt
    - name: Test with tox
      run: tox
    - name: Run coveralls
      run: coveralls --service=github
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        COVERALLS_FLAG_NAME: ${{ matrix.test-name }}
        COVERALLS_PARALLEL: true


  finish:
    name: Finish Coveralls
    needs: test
    runs-on: ubuntu-20.04
    steps:
    - name: Finish Coveralls
      uses: coverallsapp/github-action@v1
      with:
        github-token: ${{ secrets.github_token }}
        parallel-finished: true